@keyframes show-remove-text {
  0%{
    opacity: 0;
    left: -50%;
  }
  100%{
    opacity: 1;
    left: 0;
  }
}

@keyframes row-appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes hide-remove-text {
  0%{
    opacity: 1;
    left: 0;
  }
  100%{
    opacity: 0;
    left: -50%;
  }
}

@keyframes strip {
  0%{
    transform: rotate(0deg);
  }
  5%{
    transform: rotate(12deg);
  }
  10%{
    transform: rotate(-12deg);
  }
  15%{
    transform: rotate(8deg);
  }
  20%{
    transform: rotate(-8deg);
  }
  25%{
    transform: rotate(4deg);
  }
  30%{
    transform: rotate(-4deg);
  }
  35%{
    transform: rotate(2deg);
  }
  40%{
    transform: rotate(-2deg);
  }
  45%{
    transform: rotate(1deg);
  }
  50%{
    transform: rotate(-1deg);
  }
  55%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}