@import 'src/shared/styles/def_mixins';
@import 'src/shared/styles/def_variables';
@import "keyframes";

.wrapper {
  width: 70vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5%;
  padding: 40px 50px;
  @include default-box-shadow;
  border-radius: $default-border-radius;
  position: relative;

  & .remove-all {
    position: absolute;
    top: 8%;
    right: 4.4%;
    width: 165px;
    height: 25px;
    padding: 3px;
    display: flex;

    &:hover .remove-text{
      opacity: 1;
      left: 0;
    }

    & .remove-btn {
      position: absolute;
      fill: $base-dark-blue-color;
      width: 15%;
      height: 100%;
      right: 0;
      cursor: pointer;

      &:hover{
        animation-name: strip;
        animation-fill-mode: forwards;
        animation-duration: .8s;
        fill: #de5246;
      }
    }

    & .remove-text {
      transition: .3s;
      position: absolute;
      opacity: 0;
      font-size: 13px;
      top: -7px;
      left: -50%;
      border: 1px solid $base-dark-blue-color;
      border-radius: 5px;
      padding: 4px 6px;
      border-right: none;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
      color: $base-red;
    }
  }


  & .title {
    text-align: left;
    color: $base-dark-blue-color;
    //border: 1px solid red;
    margin: 0;
    height: 14%;
  }

  & .input-block {
    //border: 1px solid red;
    display: flex;
    justify-content: space-between;
    height: 35px;
    box-sizing: border-box;
    //margin-top: 1%;

    & input {
      height: 100%;
      width: 100%;
    }

    & div {
      display: flex;
      position: relative;

      & .btn {
        margin-left: 15px;
        height: 100%;
        width: 100px;
        cursor: pointer;
        animation-duration: .8s;
        animation-fill-mode: forwards;

        &:hover{
          animation-name: strip;
        }
      }
    }
  }

  & .todo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 81%;
    box-sizing: border-box;

    & .todo {
      width: 45%;
      height: 100%;
      border-radius: $default-border-radius;
      @include default-box-shadow;
      overflow: hidden;

      & .title {
        width: 100%;
        height: 13%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        background: $base-dark-blue-color;
      }

      & .content-wrapper {
        box-sizing: border-box;
        //padding: 20px;
        height: 83%;
        text-align: start;
        overflow: hidden;


        & .content {
          height: 100%;
          overflow: auto;

          &::-webkit-scrollbar {
            width: 5px;
            position: absolute;
            right: 10px;
          }

          &::-webkit-scrollbar-thumb {
            background: $base-dark-blue-color;
            border-radius: 10px;
            width: 5px!important;
          }

          & .light-row{

          }

          & .gray-row{
            background: $base-light-gray-color;
          }

          & .todo-row, div {
            padding: 15px 20px;
            font-size: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-height: 800px) {
              padding: 10px 20px;
              font-size: 17px;
            }

            & input[type='checkbox'] {
              display: none;
            }

            & .input-update{
              height: 19px;
              font-size: 1em;
              margin-left: 5px;
              color: grey;
              outline: none;
              border-radius: 0;
              border: none;
              border-bottom: 2px solid $base-dark-blue-color;

              @media screen and (max-height: 800px) {
                height: 16px;
              }
            }

            & div {
              padding: 0;

              & label {
                margin-left: 8px;
              }

              & .title-update-icon, .save-update-icon{
                margin-right: .5rem;
                cursor: pointer;
                &:hover{
                  fill: peru;
                }
              }

              & .save-update-icon{
                &:hover{
                  fill: #84bc36;
                }
              }

              & .del-icon{
                &:hover{
                  fill: $base-red;
                }
              }

              & .calendar-icon{
                &:hover{
                  fill: lightskyblue;
                }
              }

              & .icon{
                animation-fill-mode: forwards;
                animation-duration: .8s;
                cursor: pointer;
                width: 20px;
                height: 20px;

                &:hover{
                  animation-name: strip;
                }
              }
            }
          }
        }

      }
    }
  }
}

