@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


$base-dark-blue-color: #362f4b;
$base-dark-blue-color: #362f4b;
$base-red: #de5246;
$base-light-gray-color: #f6f6f6;
$base-box-shadow-color: #C4C4C4;
$default-btn-padding: 10px 20px;
$default-border-radius: 10px;
$default-font-family: 'Work Sans', sans-serif;
